---
const contactDetails = {
  heading: "Contact Us",
  body: "Lorem services ipsum dolor sit amet consectetur.",
};
const contactData = {
  formspreeCode: "########",
  name: "Your Name *",
  email: "Your Email *",
  phone: "Your Phone *",
  message: "Your Message *",
  submit: "Send Message",
};
---

<!-- Contact-->
<section class="page-section" id="contact">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">{contactDetails.heading}</h2>
      <h3 class="section-subheading text-muted">{contactDetails.body}</h3>
    </div>
    <form
      id="contactForm"
      action={`https://formspree.io/f/${contactData.formspreeCode}`}
      method="POST"
    >
      <div class="row align-items-stretch mb-5">
        <div class="col-md-6">
          <div class="form-group">
            {/* Name input */}
            <input
              class="form-control"
              id="name"
              type="text"
              name="name"
              placeholder={contactData.name}
              required="required"
            />
            <div class="invalid-feedback" data-sb-feedback="name:required">
              A name is required.
            </div>
          </div>
          <div class="form-group">
            {/* Email address input */}
            <input
              class="form-control"
              id="email"
              type="email"
              name="email"
              placeholder={contactData.email}
              required="required"
            />
            <div class="invalid-feedback" data-sb-feedback="email:required">
              An email is required.
            </div>
            <div class="invalid-feedback" data-sb-feedback="email:email">
              Email is not valid.
            </div>
          </div>
          <div class="form-group mb-md-0">
            {/* Phone number input */}
            <input
              class="form-control"
              id="phone"
              type="tel"
              name="phone"
              placeholder={contactData.phone}
              required="required"
            />
            <div class="invalid-feedback" data-sb-feedback="phone:required">
              A phone number is required.
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group form-group-textarea mb-md-0">
            {/* Message input */}
            <textarea
              class="form-control"
              id="message"
              name="message"
              placeholder={contactData.message}
              required="required"></textarea>
            <div class="invalid-feedback" data-sb-feedback="message:required">
              A message is required.
            </div>
          </div>
        </div>
      </div>
      {/* Submit success message */}
      {/* This is what your users will see when the form */}
      {/* has successfully submitted */}
      <div class="d-none" id="submitSuccessMessage">
        <div class="text-center text-white mb-3">
          <div class="fw-bolder">Form submission successful!</div>
        </div>
      </div>
      {/* Submit error message */}
      {/* This is what your users will see when there is */}
      {/* an error submitting the form */}
      <div class="d-none" id="submitErrorMessage">
        <div class="text-center text-danger mb-3">Error sending message!</div>
      </div>
      {/* Submit Button */}
      <div class="text-center">
        <button
          class="btn btn-primary btn-xl text-uppercase"
          id="submitButton"
          type="submit"
        >
          {contactData.submit}
        </button>
      </div>
    </form>
  </div>
</section>

<script is:inline>
  const form = document.getElementById("contactForm");
  async function handleSubmit(event) {
    event.preventDefault();
    const submitSuccessMessage = document.getElementById(
      "submitSuccessMessage"
    );
    const submitErrorMessage = document.getElementById("submitErrorMessage");

    var data = new FormData(form);
    fetch(event.target.action, {
      method: form.method,
      body: data,
      headers: {
        Accept: "application/json",
      },
    })
      .then((response) => {
        if (response.ok) {
          submitSuccessMessage.classList.remove("d-none");
        } else {
          submitErrorMessage.classList.remove("d-none");
        }
      })
      .catch((error) => {
        submitErrorMessage.classList.remove("d-none");
      });
  }
  form.addEventListener("submit", handleSubmit);
</script>
