---
const portfolioDetails = {
  heading: "Portfolio",
  body: "Lorem portfolio ipsum dolor sit amet consectetur.",
};
const portfolioData = [
  {
    title: "Threads",
    subtitle: "Illustration",
    image: {
      link: "assets/img/portfolio/1.jpg",
      alt: "...",
    },
    modalLink: "#portfolioModal1",
  },
  {
    title: "Explore",
    subtitle: "Graphic Design",
    image: {
      link: "assets/img/portfolio/2.jpg",
      alt: "...",
    },
    modalLink: "#portfolioModal2",
  },
  {
    title: "Finish",
    subtitle: "Identity",
    image: {
      link: "assets/img/portfolio/3.jpg",
      alt: "...",
    },
    modalLink: "#portfolioModal3",
  },
  {
    title: "Lines",
    subtitle: "Branding",
    image: {
      link: "assets/img/portfolio/4.jpg",
      alt: "...",
    },
    modalLink: "#portfolioModal4",
  },
  {
    title: "Southwest",
    subtitle: "Website Design",
    image: {
      link: "assets/img/portfolio/5.jpg",
      alt: "...",
    },
    modalLink: "#portfolioModal5",
  },
  {
    title: "Window",
    subtitle: "Photagraphy",
    image: {
      link: "assets/img/portfolio/6.jpg",
      alt: "...",
    },
    modalLink: "#portfolioModal6",
  },
];
---

<section class="page-section bg-light" id="portfolio">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">{portfolioDetails.heading}</h2>
      <h3 class="section-subheading text-muted">
        {portfolioDetails.body}
      </h3>
    </div>
    <div class="row">
      {
        portfolioData.map((item) => (
          <div class="col-lg-4 col-sm-6 mb-4">
            {/* Portfolio item */}
            <div class="portfolio-item">
              <a
                class="portfolio-link"
                data-bs-toggle="modal"
                href={item.modalLink}
              >
                <div class="portfolio-hover">
                  <div class="portfolio-hover-content">
                    <i class="fas fa-plus fa-3x" />
                  </div>
                </div>
                <img
                  class="img-fluid"
                  src={item.image.link}
                  alt={item.image.link}
                />
              </a>
              <div class="portfolio-caption">
                <div class="portfolio-caption-heading">{item.title}</div>
                <div class="portfolio-caption-subheading text-muted">
                  {item.subtitle}
                </div>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
