---
const teamData = [
  {
    name: "Parveen Anand",
    role: "Lead Designer",
    image: {
      link: "assets/img/team/1.jpg",
    },
    twitter: "#!",
    facebook: "#!",
    linkedin: "#!",
  },
  {
    name: "Diana Petersen",
    role: "Lead Marketer",
    image: {
      link: "assets/img/team/2.jpg",
    },
    twitter: "#!",
    facebook: "#!",
    linkedin: "#!",
  },
  {
    name: "Larry Parker",
    role: "Lead Developer",
    image: {
      link: "assets/img/team/3.jpg",
    },
    twitter: "#!",
    facebook: "#!",
    linkedin: "#!",
  },
];
---

<section class="page-section bg-light" id="team">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
      <h3 class="section-subheading text-muted">
        Lorem ipsum dolor sit amet consectetur.
      </h3>
    </div>
    <div class="row">
      {
        teamData.map((member) => (
          <div class="col-lg-4">
            <div class="team-member">
              <img
                class="mx-auto rounded-circle"
                src={member.image.link}
                alt={`${member.name} photo`}
              />
              <h4>{member.name}</h4>
              <p class="text-muted">{member.role}</p>
              <a
                class="btn btn-dark btn-social mx-2"
                href={member.twitter}
                aria-label={`${member.name} Twitter Profile`}
              >
                <i class="fab fa-twitter" />
              </a>
              <a
                class="btn btn-dark btn-social mx-2"
                href={member.facebook}
                aria-label={`${member.name} Facebook Profile`}
              >
                <i class="fab fa-facebook-f" />
              </a>
              <a
                class="btn btn-dark btn-social mx-2"
                href={member.linkedin}
                aria-label={`${member.name} LinkedIn Profile`}
              >
                <i class="fab fa-linkedin-in" />
              </a>
            </div>
          </div>
        ))
      }
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <p class="large text-muted">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque,
          laboriosam veritatis, quos non quis ad perspiciatis, totam corporis
          ea, alias ut unde.
        </p>
      </div>
    </div>
  </div>
</section>
